{{#each powers as |powers powerSet|}}
  {{#if powers}}
    <ol class="mm-item-list">
      <li class="flexrow item mm-item-header">
        <span>{{localize
            "MARVEL_MULTIVERSE.Item.Power.PowerSET"
            set=powerSet
          }}</span>
        <hr />
        <div class="item-controls">
          <a
            class="item-control item-create"
            title="{{localize 'DOCUMENT.Create' type="Power"}}"
            data-type="power"
            data-power-set="{{powerSet}}"
          >
            <i class="fas fa-plus"></i>
          </a>
        </div>
      </li>
      {{#each powers as |item id|}}
        <li class="flexrow item mm-item -nowrap" data-item-id="{{item._id}}">
          <div class="item-name mm-item-name">
            <details>
              <summary>
                <div class="item-controls">
                  <a
                    class="item-control item-edit"
                    title="{{localize 'DOCUMENT.Edit' type="power"}}"
                  >
                    <i class="fas fa-edit"></i>
                  </a>
                  <a
                    class="item-control item-delete"
                    title="{{localize 'DOCUMENT.Delete' type="power"}}"
                  >
                    <i class="fas fa-trash"></i>
                  </a>
                </div>

                <a
                  class="rollable"
                  data-roll-type="chat"
                  data-label="{{item.name}}"
                >
                  <span><i class="fas fa-comment"></i></span>
                </a>

                {{#if item.system.ability}}
                  <a
                    class="rollable"
                    data-roll-type="item"
                    data-label="{{item.system.ability}}"
                  >
                    <span><i class="fas fa-dice"></i></span>
                  </a>
                {{/if}}

                <span
                  style="font-size: 110%; line-height: normal;"
                >{{item.name}}</span>
                {{#if item.system.prerequisites}}
                  <span style="color: #999999">
                    ({{item.system.prerequisites}})
                  </span>
                {{/if}}
              </summary>
              <div>
                {{{item.system.description}}}
              </div>
              <hr />
              <div style="text-transform: none;">
                {{{item.system.effect}}}
                {{#ifm item.system.cost item.system.attackRange}}
                  <div class="tags">
                    {{#if item.system.cost}}
                      <span>Cost: {{item.system.cost}}</span>
                    {{/if}}
                    {{#if item.system.range}}
                      <span>Range: {{item.system.attackRange}}</span>
                    {{/if}}
                  </div>
                {{/ifm}}
              </div>
            </details>
          </div>
        </li>
      {{/each}}
    </ol>
  {{/if}}
{{/each}}